<div class="home-search">
    <div class="container d-flex justify-content-center align-items-center vh-100">

        <div class="row text-center">
            <div class="col-12">


                <form class="form-inline my-2 my-lg-0 d-flex" method="GET" action="/artist-search">
                    <input class="form-control mr-sm-2" type="search" name="nameArtist" placeholder="Search artist"
                        aria-label="Search">
                    <button class="btn btn-dark my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>